page-chat {

    $right-bubble-color: #007ab3;
    $left-bubble-color: #CFD8DC;

    .scroll-content {
      display: flex !important;
      flex-direction: column !important;
      background: color($colors, dashboard-background);
     // background: #3f4b67;
    }
    .scroll-content ion-list {
      margin-top: auto !important;
      margin-bottom: 0 !important;
    }
    
    .chat-item{
        background: transparent !important;
    }
    
    .left{
        text-align: left;
        span{
            display: inline-block;
            position: relative;
            max-width: 500px;
            height: auto;
            border-radius: 10px;
            background: $left-bubble-color;
            padding: 3%;
        }
    }

    .right{
        text-align: right;
         span{
            display: inline-block;
            position: relative;
            max-width: 500px;
            height: auto;
            border-radius: 10px;
            background: $right-bubble-color;
            color: white;
            padding: 3%;
        }
    }

    .left:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: -0.8%;
        right: auto;
        top: 30%;
        bottom: auto;
        border: 14px solid;
        border-color: $left-bubble-color $left-bubble-color transparent transparent;
    }
  
    .right:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: auto;
        right: -0.8%;
        top: 30%;
        bottom: auto;
        border: 14px solid;
        border-color: $right-bubble-color transparent transparent $right-bubble-color;

    }
}
