page-home {
    $card-header-text:#00447f;
    $card-header-background: #7adedb;
    // $dashboard-background: #1f232e;
    $dashboard-background: #B0BEC5;
    $segment-background: #3f4b67;

    text-align: center;
  
    .toolbar-title-md{
        text-align: left;
    }
    .scroll-content{
        background: $dashboard-background;
    }

    .segment-container{
        justify-content: center;
        background: $segment-background;
    }

    .card-content{
       padding: 4px !important;
    }

    .card{
        width: auto !important;
        margin: 0 !important;
        border-radius: 10px !important;
    }

    .graph-card-header{
        padding: 0 !important;
        background: $card-header-background;
        .item{
            color: $card-header-text;
            background: $card-header-background;
        }
    }

    .bullet{
        width: auto;
    }

    .toolbar-button-icons{
       transform: scale(0.7);
    }
}
