page-home {
   
    $card-header-text:white;
    $card-header-background: #007ab3;
    $segment-background: #3f4b67;

    // text-align: center;
  
    .toolbar{
        padding: 0 !important;
    }
    .toolbar-title-md{
        text-align: left;
    }
    .scroll-content{
        background: color($colors, dashboard-background);
    }

    .segment-container{
        justify-content: center;
        background: $segment-background;
    }

    .segment-activated{
        color: white !important;
        background-color:#007ab3 !important;
    }

    .card-content{
       padding: 8px !important;
    }

    .card{
        width: auto !important;
        margin: 0 !important;
        border-radius: 10px !important;
    }

    .graph-card-header{
        padding: 0 !important;
        text-align: left;
        color: white;
        padding: 5px 0px 7px 20px !important;
        background: $card-header-background;
        .item{
            color: $card-header-text;
            background: $card-header-background;
        }
    }

    .graph-background{
         background: #25304a;
    }

    .header-icon{
        float: right;
        margin-right: 20px;
    }

    .bullet{
        width: auto;
    }

    .toolbar-button-icons{
       transform: scale(0.7);
    }

    .evenRowStyle{
        background: #3f4b67;
        color: white;
    }

    .oddRowStyle{
        background: #25304a;
        color: white;
    }

   
}

