// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$background-color: #414243;
$border-color: #7b7c7c;

.center-align{
    text-align: center;
}

.circular-image{
    border-radius: 50%;
}

.sidebar-toolbar{
    text-align: center !important;
    .toolbar-title{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .toolbar-title-md{
        width: 50%;
        margin: auto;
    }
}

.sidebar-content{
    background: $background-color;
}

.sidebar-item{
    background: transparent;
    color: white;
}

.group-list-item{
    border-top: 1px solid $border-color !important;
}

.group-list-item-last{
    border-bottom: 1px solid $border-color !important;
}

.footer-img-container{
   
    width: 100%;
    overflow: hidden;
    img{
        width: 100%;
        object-fit: contain;
    }
}