<ion-header>

  <ion-navbar color='header-color'>
    <ion-title>Score Card</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-card style='background: #263238;'>
          <ion-card-header class='graph-card-header' (click)="showScoreCard()">

            Mixed Chart
            <ion-icon class='header-icon' name="ios-arrow-forward"></ion-icon>

          </ion-card-header>
          <ion-card-content>
            <canvas id="myScoreCardChart" width="200px" height="100px"></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
  
          <ion-card-content style='padding: 0;'>
            <ion-grid style='padding: 0;'>
              <ion-row class='tableRow'>
                <ion-col col-4>
                  Assignment Group / KPI
                </ion-col>
                <ion-col col-2>
                  Inflow
                </ion-col>
                <ion-col col-2>
                  Closed
                </ion-col>
                <ion-col col-2>
                  Active
                </ion-col>
                <ion-col col-2>
                  >30 Days
                </ion-col>
              </ion-row>

              <ion-list>
                <ion-row *ngFor='let group of scoreCard.scoreCard; let i = index;' class='tableRow' [ngClass]='{"evenRowStyle": i%2==0 , "oddRowStyle": i%2!==0}'>
                  <ion-col col-4>
                    {{group.groupName}}
                  </ion-col>
                  <ion-col col-2>
                    {{group.incidentScoreCard.inflow}}
                  </ion-col>
                  <ion-col col-2>
                    {{group.incidentScoreCard.closed}}
                  </ion-col>
                  <ion-col col-2>
                    {{group.incidentScoreCard.active}}
                  </ion-col>
                  <ion-col col-2>
                    {{group.incidentScoreCard.gt30Days}}
                  </ion-col>
                </ion-row>
              </ion-list>

            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>


  <ion-grid style="padding-top: 0 !important">
    <ion-row>
      <ion-col style="padding-top: 0 !important">
        <ion-card>

          <ion-card-header class='graph-card-header'>
            Key Updates
          </ion-card-header>

          <ion-card-content style='padding:0 !important;'>
            <ion-list>
              <ion-item no-lines *ngFor='let update of keyUpdates; let i=index;' [ngClass]='{"evenRowStyle": i%2==0 , "oddRowStyle": i%2!==0}'
                [ngStyle]="{'border-left': '3px solid ' + listColors[i%4]}">
                <ion-label> {{update}} </ion-label>
                <img class='bullet' src='./assets/img/key_updates_bullet.png' item-left/>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>