<ion-header>
  <ion-navbar color='header-color'>
    <ion-title>Updates</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()"><ion-icon name="md-close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="padding-top: 0 !important">
        <ion-card>

          <ion-card-header class='graph-card-header'>
            Key Updates
          </ion-card-header>

          <ion-card-content style='padding:0 !important;'>
            <ion-list>
              <ion-item no-lines *ngFor='let update of keyUpdates; let i=index;' [ngClass]='{"evenRowStyle": i%2==0 , "oddRowStyle": i%2!==0}'
                [ngStyle]="{'border-left': '3px solid ' + listColors[i%4]}">
                <ion-label> {{update}} </ion-label>
                <img class='bullet' src='./assets/img/key_updates_bullet.png' item-left/>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>